<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afterlogic.aurora.drive"
          android:sharedUserId="com.afterlogic.aurora.app"
          android:sharedUserLabel="@string/shared_user_label" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <permission android:protectionLevel="signature" android:name="com.afterlogic.aurora.CATCH_LOGIN" />
    <uses-permission android:name="com.afterlogic.aurora.CATCH_LOGIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true"
        android:name=".application.App">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e389d068cbb5a55d812a15e7cb135cd85d9cf647" />

        <activity android:name=".presentation.modules.start.view.StartActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Transparent"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.modules.main.v2.view.MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_next">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.modules.login.view.LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".presentation.modules.main.view.MainFilesActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".presentation.modules.upload.view.UploadActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.modules.choise.view.ChoiseActivity"
                  android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.modules.fileView.view.FileViewActivity"/>

        <activity
            android:name=".presentation.modules.offline.view.OfflineActivity"/>

        <activity
            android:name=".presentation.modules.accountInfo.view.AccountInfoActivity"
            android:label="@string/prompt_title_account_info"/>

        <activity
            android:name=".presentation.modules.about.view.ActivityAbout"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".presentation.modules.replace.view.ReplaceActivity"/>

        <service android:name=".presentation.modulesBackground.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authentificator" />
        </service>

        <service
            android:name=".presentation.modulesBackground.fileListener.view.FileObserverService"
            android:exported="false"
            android:enabled="false"/>

        <receiver android:name=".presentation.modulesBackground.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".presentation.modulesBackground.accountAction.AccountActionReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".presentation.modulesBackground.session.SessionChangedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afterlogic.aurora.ACTION_SESSION_CHANGED"/>
            </intent-filter>
        </receiver>

        <!--[END Main process]-->

        <!--[START File load process]-->

        <receiver android:name=".presentation.modulesBackground.session.SessionChangedReceiver_LoadProcess"
                  android:process=":load"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.afterlogic.aurora.ACTION_SESSION_CHANGED"/>
            </intent-filter>
        </receiver>
        <!--[END File load process]-->

        <!--[START Sync process]-->
        <service
            android:name=".presentation.modulesBackground.sync.view.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <receiver android:name=".presentation.modulesBackground.session.SessionChangedReceiver_SyncProcess"
                  android:process=":sync"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.afterlogic.aurora.ACTION_SESSION_CHANGED"/>
            </intent-filter>
        </receiver>
        <!--[END Sync process]-->

        <provider
            android:name=".data.modules.stubProvider.StubContentProvider"
            android:authorities="com.afterlogic.aurora.filesync.provider"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>

    </application>

</manifest>